<h1>Your Order</h1>

<%= form_for @order do |f| %>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Order Total:</th>
    <td><%= print_price @order.total %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
    <th>Remove</th>
  </tr>
  
  <% @order.order_items.each do |item| %>
  <tr>
    <td><%= image_tag "products/#{item.product.image_url}" %></td>
    <td><%= item.product.title %></td>
    <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
    <td><%= print_stock item.product.stock, item.quantity %></td>
    <td><%= item.product.price %></td>
    <td><%= print_price item.subtotal %></td>
    <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= @order.user.name if @order.user %></td>
  </tr>
  <% end %>
  
  <tr>
    <th>Shipping To:</th>
    <td>
      <%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %></br>
      <%= link_to "Add an address", new_address_path %>
    </td>
  </tr>
  
  <tr>
    <th>Submit Order:</th>
    <td><%= f.submit "Submit order" %></td>
  </tr>
</table>

<% end %>
<p><%= link_to "Empty Cart", @order, method: :delete, data: { confirm: "Are you sure>" } %></p>
