<p id="notice"><%= notice %></p>

<h1>All Products</h1>

<table>
  <thead>
    <tr>
     <th>Title</th>
     <th>Price</th>
     <th>Stock</th>
     <th>Buy</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag "products/#{product.image_url}" %></td>
        <td><span class="product_title"><%= link_to product.title, product_path(product) %></span><%= product.description %></td>
        <td><%= print_price(product.price) %></td>
        <td><%= print_stock(product.stock) %></td>
        <td><%= button_to "Add to cart", order_items_path(product_id: product.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Product', new_product_path %>
